*{
    font-family: 'Courier New', Courier, monospace;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px;
    background-color: aliceblue;
}

.button{
    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0%); */
    background-color: blue;
    color: white;
    font-weight: 800;
    transition: 0.2s ease-in;
    cursor: pointer;
    user-select: none;
    caret-color: transparent;
    width: 200px;
    border-radius: 3px;
    text-align: center;
    margin: 5px;
}

.button.button:hover{
    background-color: aqua;
}

.puzzle-create{
    background-color: bisque;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 300px;
    margin: 5px;
}

.puzzle{
    text-align: center;
    background-color: antiquewhite;
    letter-spacing: 0.2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 300px;
}

input{
    margin: 5px;
}

.library-select{
    width:400px;
}

.results{
    font-size:0.8rem;
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.bad-output{
    background-color: lightpink;
    color: red;
    font-weight: 800;
    padding: 5px;
}

.performance{
    background-color: palegreen;
    color: green;
    font-weight: 800;
    padding: 5px;
}

.output{
    background-color: lightblue;
    padding: 5px;
}